<!doctype html>
<html>

<head>
  <title>Application Submitted</title>
  {% include 'bootstrap.html' %}
</head>

<body>
  {% include 'nav.html'%}
  <div class="container">
    <br>
    <h1 class="text-center" style="font-family:	Times New Roman">Aurora Consulting</h1>
    <p> Your application for the role of "{{job['title']}}" at auroraconsulting has been submitted.</p>

    <h5>Full Name</h5>
    <div class="mb-2">{{application['full_name']}}</div>

    <h5>Email</h5>
    <div class="mb-2">{{application['email']}}</div>

    <h5>Linkedin URL</h5>
    <div class="mb-2">{{application['linkedin_url']}}</div>

    <h5>Education</h5>
    <div class="mb-2">{{application['education']}}</div>

    <h5>Experience</h5>
    <div class="mb-2">{{application['work_experience']}}</div>

    <h5>Resume URL</h5>
    <div class="mb-2">{{application['resume_url']}}</div>
  </div>
  {% include 'footer.html' %}
</body>

</html>