<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://jovian.com/home" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target="_blank" href="https://jovian.com/learn" class="nav-link px-2 text-body-secondary">Courses</a></li>
      <li class="nav-item"><a target="_blank" href="https://jovian.com/events" class="nav-link px-2 text-body-secondary">Events</a></li>
      <li class="nav-item"><a target="_blank" href="https://jovian.com/blog" class="nav-link px-2 text-body-secondary">Blogs</a></li>
      <li class="nav-item"><a target="_blank" href="https://jovian.com/quizzes" class="nav-link px-2 text-body-secondary">Quizs</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 Aurora, Inc</p>
  </footer>
</div>