<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-9">  
  <h4 style="colour:rgb(120,120,120); margin-bottom:4px; font-family:monospace"> {{job['title']}} </h4>
    
  <div style="margin-bottom:7px; font-family:cursive;"> <b>location:</b> {{job['location']}} </div>
  {% if 'salary' in job %}
  <div style="margin-bottom:7px; font-family:sans-serif"> salary: {{job['salary']}}</div>
  {% endif %}
    </div>
<div class="col-3">
  <button type="button" class="btn btn-primary">Apply</button></div>
</div>
