<!doctype=html>
  <html>

  <head>
    <title>{{job.title}} - auroraconsulting </title>
    {% include 'bootstrap.html' %}
  </head>

  <body>
    {% include 'nav.html'%}
    {% include 'banner1.html' %}
    <div class="container">
      <br>
      <h1 class="text-center" style="font-family:	Times New Roman">Auroraconsulting</h1>
      <h2>{{job.title}}</h2>

      <p>
      <h6>Location:{{job.location}}</h6>
      </p>
      <h2>Requirements:-</h2>
      <ul>
        {% for line in job.requirements.split("\n")%}
        <li>{{line}}</li>
        {% endfor%}
      </ul>
      <h2>Responsibilities:-</h2>
      <ol>
        {% for line in job.responsibilities.split("\n")%}
        <li>{{line}}</li>
        {% endfor%}
      </ol>

      <h3>Salary</h3>
      <p>{{job.salary}}</p>
    </div>

    {% include 'footer.html' %}
  </body>

  </html>